@tailwind base;
@tailwind components;
@tailwind utilities;

/* color */
.bg-primary {
  background: #0F172A;
}

.bg-secondery {
  background: #1E293B;
}

.bg-accent {
  background: #7477FF;
}

.text-accent {
  color: #7477FF;
}